@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <label asp-for="FizzBuzz.Number"></label><br/>
        <input asp-for="FizzBuzz.Number" style="width: 100%" /><br/><br/>
        <button type="submit" class="btn btn-primary">Zatwierdź</button><br/>
        <span asp-validation-for="FizzBuzz.Number" class="text-danger"></span>
    </form>
    <br/>
    <div class="alert alert-success" role="alert">
        Output: @Model.wynik
    </div>
</div>
